{% load static %}

<html>
    <head>
        <title>DBS Customer Service!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">DBS Customer Service</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <p>New customer has successfully been registered!</p>
                <p> </p>
                <a href=" " class="btn btn-primary">New Customer</a>
                <a href="https://www.dbs.com.sg/personal/default.page" class="btn btn-primary">Product Catalogue</a>
                </div>
            </div>
        </div>
    </body>
</html>